.popup {
    background-color: rgb(204, 204, 204);
    width: 65vw;
    height: 70vh;
    border-radius: 2rem;
    overflow: hidden;
}

.popupContainer {
    display: inline-flex;
    position: fixed;
    width: 100vw;
    left: 0;
    top: 0;
    height: 100vh;
    justify-content: center;
    margin: 0;
    align-items: center;
} 

.removeFreind {
    display: inline;
    background-color: rgba(210, 93, 93, 0.516);
    margin: 0;
    /* height: fit-content; */
    border: none;
    border-radius: 0rem 0.5rem 0.5rem 0rem;
}

.removeFreind:hover{
    cursor: pointer;
}

.title {
    margin: 0;
    text-align: center;
}

.suggestionListItem {
    list-style: none;
    margin-right: 2rem;
    overflow-y: hidden;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}

.suggestionListItemButton {
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: cneter;
    background-color: rgba(0, 0, 0, 0.502);
    border: 0;
    align-items: center;
}

.buttonContainer {
    display: flex;
}
.disabled {
    background-color: rgba(40, 165, 69, 0.502);
}
.disabled:hover {
    background-color: rgba(40, 165, 69, 0.502) !important;
}

.enabled:hover {
    background-color: rgba(0, 0, 0, 0.146);
}

.suggestionListItemButton:active {
    background-color: rgba(81, 143, 172, 0.146);
}

.outgoing {
    background-color: rgba(40, 84, 165, 0.502);
}

.incoming {
    background-color: rgba(165, 40, 155, 0.502);
}

.incoming:hover {
    background-color: rgba(165, 40, 148, 0.705);
}

.memberItem {
    background-color: rgba(47, 178, 214, 0.472);
    box-sizing: 0.2rem;
    width: fit-content;
    height: fit-content;
    padding: 0.1rem;
    border-radius: 0.5rem;
}

.createButton {
    background-color: rgba(47, 178, 214, 0.472);
    border: none;
    width: calc(100% - 2rem);
    margin: auto 1rem 0 1rem;
    border-radius: 1rem;
}

.createButton:hover {
    background-color: rgba(47, 214, 103, 0.472);
}

.createButton:active {
    background-color: rgba(214, 206, 47, 0.472);
}

.groupName {
    margin-left: 1rem;
    height: 2rem;
    background-color: transparent;
    border-radius: 0.5rem;
    border: solid 0.2rem rgb(101, 210, 101);
    width: calc(100% - 2rem);
}

.memberUsername {
    margin: 0;
    font-size: 0.7rem;
}

.imageContainer {
    justify-content: center;
    align-items: center;
    position: relative;
    display: inline-flex;
    height:2.5rem;
    width: 2.5rem;
    border-radius: 100%;
    overflow: hidden;
}

.username {
    padding-left: 1rem;
    font-size: 2rem;
    margin: 0.5rem 0rem;
    display: inline;
}

.x {
    background-color: transparent;
    border: 0;
    padding-top: 1rem;
    padding-left: 1rem;
}

.users {
    background-color: transparent;
    border: solid;
    border-width: 0.2rem;
    margin: 0.5rem 1rem 1rem 1rem;
    border-radius: 0.5rem;
    border-color: blue;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0.2rem;
}

.usersType {
    background-color: transparent;
    border: 0;
    width: 100%;
}

.members:empty {
    display: none;
}
