.input,
.button{
    width: 70vw;
    background-color: white;
    border: 0;
    height: 1.5rem;
    border-radius: .5rem;
    margin: 2vh 15vw 1vh 15vw;
}

.inputContainer{
    padding-top: 10vh;
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.button:active{
    background-color: gray;
}

.label{
    color: white;
}