.header{
    background-color: white;
    position: fixed;
    margin: 0;
    width: 100vw;
    display: flex;
    padding: .5rem;
    top: 0;
    height: 4rem;
    left: 0;
}

.new{
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new:active{
    background-color: rgba(55, 248, 12, 0.519);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .4rem;
    border-radius: 1rem;
}

.new:hover{
    background-color: rgba(0, 149, 255, 0.378);
    padding: .4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}

.profile{
    margin-left: calc(100% - 14rem);
}

.plus:active{
    background-color: rgba(55, 248, 12, 0.519);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .4rem;
    border-radius: 1rem;
}

.plus:hover{
    background-color: rgba(0, 149, 255, 0.378);
    padding: .4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}

.threadsContainer{
    padding-top: 5rem;
}

.plus{
    background-color: transparent;
    border: none;
    margin-left: auto;
    display: inline;
}
