.header{
    background-color: #12191b;
    position: fixed;
    margin: 0;
    width: 100vw;
    display: flex;
    padding: .5rem;
    top: 0;
    height: 4rem;
    left: 0;
    border-bottom: 0.1rem white solid;
    align-items: center;
}

.new{
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    height: 2rem;
    color: white;
    margin-left: 1rem;
}


.new:hover{
    cursor: pointer;
}

.profile{
    margin-left: calc(100% - 14rem);
}


.threadsContainer{
    padding-top: 5rem;
}

.plus:hover{
    cursor: pointer;
}

.plus{
    background-color: transparent;
    border: none;
    margin-left: auto;
    display: inline;
    color: white;
    font-size: 2rem;
    height: 2rem;
}

.home{
    font-size: 2rem;
    color: white;
    height: 2rem;
}