.input,
.button{
    width: 40vw;
    border: 0;
    color: black;
    height: 3em;
    background-color: transparent;
    border: solid white 0.1rem;
    border-radius: .5rem;
    margin: 2vh 30vw 1vh 30vw;
    padding: 0.5rem;
    color: white;
}

.inputContainer{
    padding-top: 10vh;
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.button{
    font-weight: bold;
}

.button:active{
    background-color: gray;
}

.label{
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
}

.create{
    color: teal;
    border: solid teal 0.1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: 1rem;
}

.create:hover{
    cursor: pointer;
}