.popup {
  background-color: rgb(204, 204, 204);
  width: 65vw;
  height: 70vh;
  border-radius: 2rem;
  overflow-x: hidden;
  position: relative;
  z-index: 20;
}

.popupContainer {
  display: inline-flex;
  position: fixed;
  width: 100vw;
  left: 0;
  top: 0;
  height: 100vh;
  justify-content: center;
  margin: 0;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.897);
  z-index: 1;
}

.title {
  margin: 0;
  text-align: center;
}

.suggestionListItem {
  list-style: none;
  margin-right: 2rem;
  overflow-y: hidden;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
}

.suggestionListItemButton {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.502);
  border: 0;
  display: flex;
  align-items: center;
  height: 2.5rem;
  justify-content: start;
}

.suggestionListItemButton:hover {
  background-color: rgba(0, 0, 0, 0.146);
}

.suggestionListItemButton:active {
  background-color: rgba(81, 143, 172, 0.146);
}

.memberItem {
  background-color: rgba(47, 178, 214, 0.472);
  box-sizing: 0.2rem;
  width: fit-content;
  height: fit-content;
  padding: 0.11rem;
  border-radius: 0.5rem;
}

.memberItem:hover {
  cursor: pointer;
}

.createButton {
  background-color: transparent;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.groupName {
  margin-left: 1rem;
  height: 2rem;
  background-color: transparent;
  border-radius: 0.5rem;
  border: solid 1px black;
  width: calc(100% - 2rem);
}

.memberUsername {
  margin: 0;
  font-size: 0.7rem;
}

.imageContainer {
  justify-content: center;
  align-items: center;
  position: relative;
  display: inline-flex;
  height: 2rem;
  width: 2rem;
}

.username {
  padding-left: 1rem;
  font-size: 2rem;

  display: inline;
}

.x {
  background-color: transparent;
  border: 0;
  padding-top: 1rem;
  padding-left: 1rem;
}

.users {
  background-color: transparent;
  border: solid;
  border-width: 1px;
  margin: 0.5rem 1rem 1rem 1rem;
  border-radius: 0.5rem;
  border-color: black;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 0.2rem;
}

.usersType {
  background-color: transparent;
  border: 0;
  width: 100%;
}

.members:empty {
  display: none;
}

.xtext {
  font-size: 2rem;
  cursor: pointer;
}

.gc {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.gc > a {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 2rem;
    outline: solid 1px #9a9a9a;
}

.gc > a:hover {
    cursor: pointer;
}

.hr{
    margin: 0em;
}

.active{
    background-color: rgb(178, 200, 201);
}