
.main{
    padding-top: calc(10vh + 5rem);
    display: flex;
    justify-content: center;
}

.profileImageContainer{
    background-color: white;
    padding: 7vw;
    overflow: hidden;
    width: 44vw;
    height: 44vw;
    border-radius: 100%;
}

.friendProfileImage{
    margin: 0;
    padding: 0;
    height: 7vw;
}

.friendProfileImageContainer{
    background-color: white;
    padding: 2vw;
    overflow: hidden;
    width: 11vw;
    height: 11vw;
    margin: .5rem;
    border-radius: 100%;
}

.rightCollumn{
    margin-top: 0rem;
}

.profileImage{
    margin: 0;
    padding: 0;
    height: 30vw;
}

.displayName{
    text-align: center;
    color: white;
    margin: 0;
    font-size: 10vh;
}
.username{
    text-align: center;
    color: white;
    margin: 0;
    font-size: 2.5vh;
}

.freindUsername{
    margin: 0 0 0 2vw;
    text-align: center;
    padding-bottom: 1vh;
    font-size: 2vw;
}

.profileImageContainerContainer{
    display: flex;
    justify-content: center;
    width: 100%;
}

.moreContainer{
    display: flex;
    justify-content: center;
}

.signOutButtonContainer{
    display: flex;
    justify-content: center;
}

.signOutButton{
    background-color: rgb(185, 69, 69);
    border: 0;
    margin-bottom: 5rem;
    height: 10vh;
    border-radius: 1rem;
    width: 100%;
    font-weight: bold;
    font-size: 6vh;
}

.signOutButton:hover{
    background-color: rgb(65, 65, 143);
}

.signOutButton:active{
    background-color: rgb(209, 230, 22);
}

.more{
    border: none;
    padding: .5rem 1rem .5rem 1rem;
    border-radius: .5rem;
    font-size: 3vw;
    background-color: rgb(0, 179, 255);
}

.freindDisplayName{
    font-size: 2rem;
    text-align: center;
    margin: 0 0 0 2vw;
    padding: 0rem;
    font-size: 6vw;
}

.friendsTitle{
    color: white;
    text-align: center;
}

.removeFriend{
    background-color: rgba(255, 0, 0, 0.475);
    border: 0;
    margin: 1rem;
    border-radius: 1rem;
}

.FriendCardMain{
    display: flex;
    margin: 1rem 0rem;
    background-color: gray;
    border-radius: .5rem;
}