.messageInput {
    border: solid rgb(118, 118, 118) 0.1rem;
    height: 6vh;
    width: 40vw;
    background-color: transparent;
    border-radius: 1rem 0rem 0rem 1rem;
    color: white;
    padding-left: 0.5rem;
    font-size: 1rem;
}

.sendMessage {
    width: 10vw;
    height: 6vh;
    border: solid rgb(200, 200, 200) 0.1rem;
    background-color: transparent;
    background-color: rgb(200, 200, 200);
    border-radius: 0rem 1rem 1rem 0rem;
    font-weight: bold;
    font-size: 1rem;
}

.sendMessage:hover {
    cursor: pointer;
}


.messageText {
  margin: 0;
  line-height: 1.25;
  word-wrap: break-word;
  overflow-wrap: anywhere;
  margin-top: 0.2rem;
}

.user{
   text-align: right;
    margin: 0;
}

.main{
    margin-bottom: 5rem;
    margin-top: 5rem;
}

.imgContainer {
    background-color: white;
    width: 2.5rem;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    border-radius: 3rem;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
}

.row1 {
    display: flex;
}

.messageContainer {
    width: fit-content;
    padding: 0.5rem;
    margin: 1rem 0rem 2rem 1rem;
    color: white;
    max-width: 80vw;
}

.profileIMG {
    height: fit-content;
    width: 2.5rem;
}


.messageForm {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 1rem;
    position: fixed;
    bottom: 0;
}

.messageDate{
    font-size: 1rem;
    color: rgb(198, 198, 198);
    padding: 0;
    margin: 0;
    padding-left: 1rem;
}

.user{
    text-align: left;
}

.col1{
    display: flex;
}